.gradle
/build/
/.idea/
*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.DS_Store
build
captures
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.externalNativeBuild
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.DS_Store

/venv/
/data

/src/main/java/Debugger.java
Debugger.java
