{
    "ANNOTATION": {
        "NONNULL": "javax.annotation.Nonnull",
        "NULLABLE": "javax.annotation.Nullable"
    },
    "MAKE_CALL_GRAPH": false,
    "MAKE_FIELD_GRAPH": false,
    "METHOD_PARAM_TEST": {
        "ACTIVE": false,
        "INDEX": 1000
    },
    "MAKE_METHOD_INHERITANCE_TREE": false,
    "LOG_ERROR": {
        "ACTIVE": false,
        "DEEP": false
    },
    "SUGGEST": {
        "ACTIVE": true,
        "DEEP": true
    },
    "OPTIMIZED": false,
    "WORK_LIST": "*",
    "INHERITANCE_CHECK_DISABLED": false,
    "VIRTUAL": {
        "ACTIVE": false,
        "PATH": ""
    }
}