name: Continuous Integration
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build-without-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Build with Gradle
        run: ./gradlew build --scan
  build-with-setup-java-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: gradle
      - name: Build with Gradle
        run: ./gradlew build --scan --no-daemon
  build-with-gradle-build-action-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: build --scan
  build-with-upload-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: gradle
      - name: Build with Gradle
        run: ./gradlew build --scan --no-daemon
      - name: Archive test report
        uses: actions/upload-artifact@v4
        with:
          name: Test report
          path: build/reports/tests/test
      - name: Archive annotator-core.jar
        uses: action/upload-artifact@v4
        with:
          name: annotator-core-jar
          path: annotator-core/build/libs/annotator-core-*.jar
  parallel-processing-enabled-caching-disabled:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Build with Gradle
        env:
          ANNOTATOR_TEST_DISABLE_CACHING: "true"
        run: ./gradlew build --rerun-tasks --scan
  parallel-processing-disabled-caching-disabled:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Build with Gradle
        env:
          ANNOTATOR_TEST_DISABLE_PARALLEL_PROCESSING: "true"
          ANNOTATOR_TEST_DISABLE_CACHING: "true"
        run: ./gradlew build --rerun-tasks --scan
  parser-coinfiguration-17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Build with Gradle
        env:
          ANNOTATOR_TEST_DISABLE_PARALLEL_PROCESSING: "false"
          ANNOTATOR_TEST_DISABLE_CACHING: "false"
        run: ./gradlew :annotator-core:test --tests "edu.ucr.cs.riple.core.Java17Test"

